= render partial: "partials/manage_buttons", locals: { f:task }
= render partial: "partials/hidden_shared_form", locals: { var:task }
= render partial: "partials/hidden_edit_form", locals: { var:task }
