= link_to 'Edit', edit_task_path(f), class:"btn btn-raised btn-primary"
= link_to 'Destroy', f, data: {:confirm => 'Are you sure?'}, :method => :delete, class:"btn btn-raised btn-danger"
= link_to "Share task", '#data',  class:"btn btn-raised btn-warning fancybox"
